doctype html
html(lang="en")
  head
  body
    h1 Welcome to page 3
    // links or URLs are always GET resources as they are getting (retrieving) a resource
    a(href="/") Home
    a(href="/page1") Page 1
    a(href="/page2") Page 2